
<%= @movie[:original_title] %>
<%= button_to "Create Viewing Party for Movie", '/viewing_party/new' %>
<br>
<section class="general-information">
    Rating: <%= @movie[:vote_average] %> <br>
    Run Time: <%= @movie[:runtime] %> <br>
    Genres: <%= @movie[:genres].each{|x| x[:name]} %>
</section>
<br>
<section class="summary">
  <%= @movie[:overview] %>
</section>
<br>
<section class="cast">
  <% @cast.each do |member| %>
  <%= "#{member[:name]} as #{member[:character]}" %>
  <%  end  %>
</section>
