<%= @movie[:name] %>

<%= button_to "Create Viewing Party for Movie", '/viewing_party/new' %>

<section class="general-information">
  <%= binding.pry %>
    <%= @movie[:vote_average] %>
    <%= @movie[:runtime] %>
    <%= @movie[:genres] %>
</section>

<section class="summary">
  <%= @movie[:overview] %>
</section>

<section class="cast">
  <%= @cast.each do |member| %>
  <%= "#{member[:name]} as #{member[:character]}" %>
  <%  end  %>
</section>

<section class="reviews">
  <%= @reviews.each do |review| %>
    <div class="review">
      <%= review[:author] %>
      <%= review[:content] %>
    <% end %>
    </div>
</section>
