<h1 style="text-align: center">Welcome <%=current_user.username%>!</h1>
<br>
<br>
<br>
<section style="text-align: center"><%=button_to "Find Top Rated Movies", movies_path, method: :get%></section>
<br>
<br>
<h2 style="text-align: center">OR</h2>
<br>
<br>
<section style="text-align: center", id="search">
  <%= form_with url: "/movies", local: true, method: :get do%>
    <%= label_tag :movie_title %>
    <%= search_field_tag :movie_title, "Search by movie title" %>
    <%= submit_tag "Find Movies" %>
  <% end %>
</section>
